body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}
h1 {
    color: #4CAF50;
    margin: 20px 0;
}
.container {
    width: 80%;
    max-width: 600px;
}
.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form input, .form textarea {
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
}
.form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
#routesContainer {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
/* Edit Button */
#editButton{
    text-decoration: underline;
    /* padding-left: 50px; */
    margin-left: 200px;
    padding: 10px;
    color: #4CAF50;
    background-color:white;
    border-radius: 10px;
    width:80px;
    font-weight: bold;
    align-self: flex-end;
    margin-bottom: 20px;
}
/* Delete Button */
#deleteButton{
    text-decoration: underline;
    /* padding-left: 50px; */
    margin-left: 10px;
    padding: 10px;
    color:red;
   font-weight: bold;
    background-color: white;
    border-radius: 10px;
    width:80px;
    align-self: flex-end;
}
